{% extends "layout.html" %}

{% block main %}
    <div class="container-custom">
        <h4>Search</h4>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group row">
                <label for="isbn" class="col-md-2 col-form-label">ISBN</label>
                <div class="col-md-10">
                    <input id="isbn" name="isbn" type="text" value='{{ items["isbn"]}}' class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="title" class="col-md-2 col-form-label">Title</label>
                <div class="col-md-10">
                    <input id="title" name="title" type="text" value='{{ items["title"]}}' class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="author" class="col-md-2 col-form-label">Author</label>
                <div class="col-md-10">
                    <input id="author" name="author" type="text" value='{{ items["author"]}}' class="form-control">
                </div>
            </div>
            <button type="submit" class="btn">Search</button>
        </form>
    </div>
    <br>
    {% if matches is defined %}
        <div class="container-custom">
            <p>
                {{ matches }}
                {% if matches == 1 %}
                    &nbspmatch&nbsp
                {% else %}
                    &nbspmatches&nbsp
                {% endif %}
                returned.
            </p>
            {% if matches != 0 %}
                <form method="post" enctype="multipart/form-data">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                            {% for h in headers %}
                                {% if h == 'isbn' %}
                                    <th scope="col">{{ h.upper() }}</th>
                                {% else %}
                                    <th scope="col">{{ h.capitalize() }}</th>
                                {% endif %}
                            {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in result %}
                                <tr id='tr-{{ data["isbn"] }}'>
                                     <td>
                                        <input class="form-check-input"
                                               type="radio"
                                               id='radio-{{ data["isbn"] }}' 
                                               name="review" 
                                               value='{{ data["isbn"] }}'>
                                     </td>
                                    {% for h in headers %}
                                        <td class="table-hover">{{ data[h] }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit" class="btn">Review</button>
                </form>
            {% endif %}
        </div>
    {% endif %}
    {% block javascript %}
        <script>
            // Highlight table row on mousedown / click event
            var trlist = document.querySelectorAll('[id^=tr-]')
            function highlight() {
                var _this = this;
                var i;
                for (i = 0; i < trlist.length; i++) {
                    trlist[i].classList.remove("tr-selected");
                }
                var radio = document.getElementById("radio-" + _this.id.substring(3));
                radio.checked = true;
                _this.classList.add("tr-selected");
            }
            var j;
            for (j = 0; j < trlist.length; j++) {
                trlist[j].addEventListener("click", highlight);
                trlist[j].addEventListener("mousedown", highlight);
            }
        </script>
    {% endblock %}
{% endblock %}