{% extends "layout.html" %}

{% block main %}
    <div class="custom-container">
        <h4 class="pb-3">Search</h4>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group row">
                <label for="isbn" class="col-md-2 col-form-label">ISBN</label>
                <div class="col-md-10">
                    <input id="isbn" name="isbn" type="text" value='{{ items["isbn"]}}' class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="title" class="col-md-2 col-form-label">Title</label>
                <div class="col-md-10">
                    <input id="title" name="title" type="text" value='{{ items["title"]}}' class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label for="author" class="col-md-2 col-form-label">Author</label>
                <div class="col-md-10">
                    <input id="author" name="author" type="text" value='{{ items["author"]}}' class="form-control">
                </div>
            </div>
            <button id="submit" type="submit" class="btn">Submit</button>
        </form>
    </div>
    <br>
    {% if matches is defined %}
        <div class="custom-container">
            <p>
                {{ matches }}
                {% if matches == 1 %}
                    &nbspmatch&nbsp
                {% else %}
                    &nbspmatches&nbsp
                {% endif %}
                returned.
            </p>
            {% if matches != 0 %}
                <table class="table table-borderless">
                    <thead>
                        <tr>
                        {% for h in headers %}
                            {% if h == 'isbn' %}
                                <th scope="col">{{ h.upper() }}</th>
                            {% else %}
                                <th scope="col">{{ h.capitalize() }}</th>
                            {% endif %}
                        {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in result %}
                            <tr>
                            {% for h in headers %}
                                <td>{{ data[h] }}</td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                    <tbody>
                </table>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}