{% extends "layout.html" %}

{% block main %}
    <div class="p-0 container">
        <div class="row">
            <div class="px-3 pb-3 col-lg-6">
                <div class="container-custom">
                    <div class="row">
                        <div class="col-4">
                            <img src="{{ url_for('static',filename='book.png') }}" alt="book">
                        </div>
                        <div class="pl-4 col-8">
                            <div class="row">
                                <h5>{{ title }}</h5>
                            </div>
                            <div class="row">
                                    <p>by {{ author }}</p>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="my-2 row fine"><b>Publication year:&nbsp</b>{{ year }}</p>
                                    <p class="my-2 row fine"><b>ISBN:&nbsp</b>{{ isbn }}</p>
                                    <p class="my-2 row fine"><b>Average Rating:&nbsp</b>{{ average_rating }}</p>
                                    <p class="my-2 row fine"><b>Total Ratings:&nbsp</b>{{ total_ratings }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-3 pb-3 col-lg-6">
                <div class="container-custom">
                    <h5>User Reviews</h5>
                </div>
            </div>
        </div>
{% endblock %}